@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html,body{
    font-family: 'Lato',Helvetica, sans-serif;
}


body{
    padding-top: 40px;
   background-image: url("../background.png"); 
   background-size: cover;
   background-position: center center;
   background-attachment: fixed;
}


@media only screen and (max-width: 768px){

    body{
        background-size: cover;
        background-position: center center;
    }

}